.gallery p {
    margin: 0;
    padding: 0;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.photo-card {
    width: calc((100% - 10px * (5 - 1)) / 5);
    padding: 10px;      
    border: 2px solid black;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.photo-card a {
    text-decoration: none;
    color: currentColor;
}

.photo-card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.photo-card img:hover{
    transform: scale(1.03);
}